body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #2c3e50; /* Màu nền tối ngoài viền game */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#game-container {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
